# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock
!pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/key.properties
keystore/

# Secrets
.env
*.jks
*.keystore
*-firebase-adminsdk-*.json

# iOS
ios/Pods/
ios/.symlinks/

# Miscellaneous
*.log
*.pyc
.DS_Store
