# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock
!pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/

# Miscellaneous
*.log
*.pyc
.DS_Store
